.article-link{
    text-decoration: none;
    color: rgb(144, 87, 201);
}
.date {
    font-style: italic;
    font-weight: bold;

}

.article{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin:0.7rem auto;
    padding: 1rem;
    background-color: rgb(255, 250, 255);
}