.credit{
    font-weight:bold;
    text-decoration: none;
    background-color: white;
    padding: 0.5em;
    font-size: 1.2em;
    box-shadow: rgba(0, 0, 0, 0.14) 0px 3px 8px;
    margin-left: 0.5rem;
}

.photo-credit{
    display: flex;
    align-items: end;
}